{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}

    Ваш почтовый ящик - {{ client.getUsername }}
    <hr/>
    <p>Подключить социальную сеть?</p>


        {{ include('merge/ulogin_merge.html.twig') }}
    {% if 'ROLE_LANDLORD' in app.getUser().getRoles() %}
        <a href="{{ path('app_sing_up_object') }}">Зарегестрировать объект</a>
    {% elseif 'ROLE_TENANT' in app.getUser().getRoles() %}
        dasdas
    {% endif %}
{% endblock %}


