{% extends "base.html.twig" %}

{% block title %}Главная{% endblock %}

{% block body %}

        <p><a class="link_index" href="{{ path('app-sign-up') }}">Регистрация</a></p>


    <hr/>


    {% if app.getUser %}
    <p><a class="link_index" href="{{ path('app-client-profile') }}">Личный кабинет</a></p>
        {% else %}
            <p><a class="link_index" href="{{ path('auth') }}">Авторизация</a></p>
    {% endif %}
{% endblock %}


